.top-bottom-row {
    -fx-background-color: #11335555;
    -fx-padding: 20px;
    -fx-spacing: 20px;
    -fx-alignment: center;
    -fx-border-radius: 10px;
}

.bottom-row {
    -fx-background-color: #11335555;
    -fx-padding: 20px;
    -fx-spacing: 20px;
    -fx-alignment: center-left;
    -fx-border-radius: 10px;
}

.main-tab {
    -fx-background-color: #11335555;
    -fx-padding: 20px;
    -fx-alignment: center;
}

.left-border-pane {
    -fx-background-color: #11335555;
    -fx-padding: 20px;
    -fx-alignment: center;
}

.menu-box {
    -fx-background-color: #11335555;
    -fx-padding: 20px;
    -fx-spacing: 20px;
    -fx-alignment: center;
    -fx-border-radius: 10px;
}

.button {
    -fx-background-color: #ffffff;
    -fx-set-preferred-width: 100px;
    -fx-set-preferred-height: 30px;
    -fx-font-family: "Arial Black";
    -fx-text-fill: black;
}

.button:hover {
    -fx-background-color: #8c8888;
    -fx-set-preferred-width: 100px;
    -fx-set-preferred-height: 30px;
    -fx-font-family: "Arial Black";
    -fx-text-fill: white;
}

.run-button {
    -fx-background-color: #ffffff;
    -fx-font-family: "Arial Black";
    -fx-text-fill: black;
}

.run-button:hover {
    -fx-background-color: #589360;
    -fx-font-family: "Arial Black";
    -fx-text-fill: white;
}

.small-text {
    -fx-font-size: 16px;
    -fx-fill: white;
    -fx-font-family: Helvetica, sans-serif;
}

.title {
    -fx-font-size: 20px;
    -fx-fill: white;
    -fx-font-family: Helvetica, sans-serif;
    -fx-alignment: center;
}

.title-row {
    -fx-background-color: #11335555;
    -fx-padding: 20px;
    -fx-alignment: center;
    -fx-border-radius: 10px;
}

.pop-up-window {
    -fx-background-color: #7a9980;
    -fx-alignment: center;
    -fx-padding: 20px;
    -fx-spacing: 20px;
}

